{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#97c1f7;
        margin-top: 80px;
        flex-direction: column;
       
    }
    .content .error{
        margin-top: 30px;
    }
    .content .contenu{
        width: 350px;
        height: 300px;
        background-color: white;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
    }
    .content .contenu form{
        width: 90%;
        height: 80%;
        margin: 3%;
    }
    .content .contenu .titre{
        margin-top: 20px;
        color: teal;
    }
    .content .contenu form .nom{
        margin-bottom: 15px;
    }
    .content .contenu form button{
     margin-top: 10px;
    }
    .content .contenu form a{
     margin-top: 20px;
    }
    
</style>



<div class="content">
    {% for message in messages %}
      <div class="alert alert-danger error">
        <p style="color: maroon;">{{message}}</p>
      </div>
    {% endfor %}
    <div class="contenu">
        <div class="titre">
            <h3>Bienvenue</h3>
        </div>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="nom">
                {{form.nom}}
            </div>
            <div class="password">
                {{form.password}}
            </div>
            <button type="submit" class="btn btn-danger btn-block">Se connecter</button>
            <br>
            <p>Pas de compte ? <a href="">S'inscrire</a></p>
        </form>
    </div>
</div>



{% endblock content %}