{% extends "base.html" %}

{% block content %}

<style>
    .link{
        margin-top: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .link a{
        margin: 15px;
        width: 250px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content .liste-etudiants table tr th{
        background-color: #4d5997;
        color: white;
    }
</style>



<div class="link">
    <a href="{% url 'ajouterEtudiant' %}" class="btn btn-dark">Ajouter un Etudiant</a>
</div>
 <div class="content">
    <div class="titre">
        <p>Liste des etudiants</p>
    </div>
    <div class="liste-etudiants">
        <table class="table table-bordered table-responsive">
            <tr>
                <th>N°</th>
                <th>Afficher</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>PostNom</th>
                <th>Prénom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            {% for etudiants in liste_etudiant %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="" class="btn btn-dark">Afficher</a></td>
                <td>{{etudiants.matricule}}</td>
                <td>{{etudiants.nom}}</td>
                <td>{{etudiants.postnom}}</td>
                <td>{{etudiants.prenom}}</td>
                <td><a href="{% url 'modifierEtudiant' etudiants.id %}" class="btn btn-success">Modifier</a></td>
                <td><a href="{% url 'supprimerEtudiant'  etudiants.id %}" class="btn btn-danger">Supprimer</a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="8">Pas d'etudiants</td>
              </tr>
            {% endfor %}
        </table>
    </div>
 </div>
{% endblock content %}